@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:800,700,400);
@import url(https://fonts.googleapis.com/css?family=Signika:400,600);

:root {
    --highlight: #08a6c2;
    --clash: var(--highlight);
    --background: #e4cdbd;
    --brown: #966861;
    --black: #073655;
    --grey: #8F8B8B;
    --smallPad: 0.5vw;
    --padding: 1vw;
    color: var(--black);
    font-size: 16px;

  }
  
/*Preloader */

#preloader {
    display: flex;
    height: 100vh;
    position: fixed;
    top: 5vw;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: var(--lightgray);
    }
  

/* Reset
---------------------------------*/
ul {
    list-style: none;
}

    

.figure {
    margin: 0px;
}

img {
    max-width: 100%;
}

a, a:hover, a:active {
    outline: 0px !important;
	text-decoration:none;
}

/* Styles
---------------------------------*/
body {
    background: #fff;
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: var(--black);
    margin: 0;
}


h1 {
    font-size: 3rem;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
}


h2 {
    font-size: 38px;
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    margin: 0px 0 25px 0;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #222222;
    font-size: 18px;
    margin: 0 0 5px 0;
}

h6 {
    font-size: 16px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 2vh 0;
}

p {
    line-height: 24px;
    margin: 0;
}

/* Header Styles
---------------------------------*/

#header_wrapper {
    background: #ffffff;
    padding: 5px 0px;
	border-top: whitesmoke;
	box-shadow: 10px 1px 4px var(--highlight);
    border-bottom: 1px solid #D2D2D2;
}

.header_box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    float: left;
	position: relative;
    border: 0.25rem solid var(--highlight);
    border-radius: 10px;
    padding: 0.25rem;
	z-index: 2;
    max-height: 9vh;
    transition: transform 2s;
}

.logo:hover {transform: rotate(360deg);}

.logo img {
    max-height: 7vh;
}

.res-nav_click {
    display: none;
}
	

/* Nav Styles
---------------------------------*/
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar {
    min-height: 40px;
    margin-bottom: 0px;
    float: right;
    }


.navbar-inverse .navbar-nav > li > a {
    color: #222;
}

.navStyle {
    float: right;
}

.navStyle ul {
    list-style: none;
    padding: 0px;
}

.navStyle ul li {
    display: inline-block;
    margin: 0 5px;
}

.navStyle ul li:first-child {
	/*margin:0px;*/;
}

.navStyle ul li:last-child {
    margin: 0 0 0 23px;
}

.navStyle ul li a {
    display: block;
    font-size: 14px;
    color: #222222;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.navStyle ul li a:hover {
    color: #ED5441;
}

.navStyle > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: #ED5441;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #CA133A;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: var(--highlight);
    background-color: transparent;
}

.navStyle > li.active > a,
.navStyle > li.active > a:hover {
    text-decoration: none;
    color: #ED5441;
    background-color: transparent;
}

.navbar-nav {
    flex-direction: row;
}


/* Top_content
---------------------------------*/

#sealIconMain {
    display: block;
    height: 10vh;
    border: 0.25vw solid whitesmoke;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 0.5vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2vh;
    transition: transform 2s;
    animation: stretch 2s ease-out alternate 2.75 running;
  }
  
  #sealIconMain:hover {
    transform: rotate(360deg);
  }

 .about-us h6, #Portfolio h6 {
    color: var(--black);
}

  
  #jennyPhoto {
      border-radius: 10px;
  }
  @keyframes stretch {
    0% {
        transform: scale(.5);
        border-radius: 100%;
    }
  
    50% {
        border: 1vw solid whitesmoke;
    }
  
    100% {
        transform: scale(1.1);
        background-color: var(--highlight);
    }
  }
  
  


.top_cont_outer {
    background: var(--highlight);
    position: relative;
	
    background: var(--highlight);
	height:100vh;
}

.hero_section {
    position: relative;
    padding-top: 10px;
}

.top_left_cont {
    padding: 110px 0;
}

.top_left_cont h3 {
    font-size: 16px;
    color: #f56eab;
    margin: 0 0 20px 0;
    text-align: left;
    font-weight: 700;
}

.top_left_cont h2 {
    font-size: 40px;
    color: whitesmoke;
    margin: 0 0 26px 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 70px;
}

.top_left_cont h2 strong {
    font-weight: 700;
	
    color: #FFE800;
}

.top_left_cont p {
font-size: 18px;
color: #FFFFFF;
margin: 0 0 0px 0;
line-height: 33px;
text-align: center;
font-weight: normal;
font-size: 22px;
/* font-weight: 300; */
text-align: center;
letter-spacing: 1px;
}

.capSmall, a.read_more, a.read_more2 {
    font-family: 'Raleway', sans-serif;
    display: block;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    background: transparent;
    color: whitesmoke;
	margin:0 auto;
}

#projectTech {
    color: var(--black);
    font-size: 0.9rem;
}
	
/* skills
---------------------------------*/

#skills {
    padding: 60px 0px;
    background: var(--highlight);
}
#skills h2{
  color: whitesmoke;
}
.skills_wrapper {
    padding: 40px 0 40px;
}


.tech-logo-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100px;
    margin: 2vh;

}

.tech-logo-flex img {  
    width: 80px;
    height: auto;
    background-color: whitesmoke;
    border-radius: 30%;
    padding: 0.25vw;
    border: 0.3vw solid var(--highlight);
}



.logo-wrapper {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2vh;
    width: 100%;
}

.capSmall {
    margin-top: 2vh;
}
.skills_wrapper h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: whitesmoke;
    margin: 15px 0 0px; 
    text-align: left;
}
#skills h6{
color:#fff;
margin-bottom: 2vh;
}
	


/* Latest Work
---------------------------------*/


.inner_section {
    padding: 0px;
}


.input-text {
    background: white;
}


/* Portfolio
---------------------------------*/


#Portfolio {
    padding: 60px 0px;
}

#scrollOther, #scrollRight {
    border: none;
    background-color: transparent;
}

.row-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


  #projectImage {
    
    max-height: 90%;
    margin: 0vh 0vw;
  }

  .projectText {
      display: block;
      width: 70%;
      margin-right: auto;
      margin-left: auto;
  }

  #projectTech {
      padding-bottom: 2vh;
  }

  
  #scrollLeft,
  #scrollRight {
    height: 5vh;
  }
  

#projectInfo {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}


.arrowProject {
    display: flex;
    height: 60vh;
    width: 60vw;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
}


.experience-list li {
    list-style: none;
    text-indent: 2vw;
}

 .experience-list:before{
	content: "\f005";
	position: absolute;
	font-family: FontAwesome;
	font-size: 1.125em;
	color: var(--highlight);
	left: 0px;
	top: 0px;
}

/* About Us
--------------------------- */
 
.about-us{
	margin-top: 30px;
	margin-bottom: 50px;
}
.points, .experience-list{ 
	margin-bottom: 1vh;
	font-size:1.2rem;
	padding-left:0px;
}


.about-us .about-us-list{
	list-style: none;
	margin-bottom: 20px;
	padding-left:0px;
}

.about-us .points, .experience-list{
	position: relative;
	list-style-type: none;
	padding: 5px 0 5px 30px;
}

.about-us .points:before{
	content: "\f055";
	position: absolute;
	font-family: FontAwesome;
	font-size: 1.125em;
	color: var(--highlight);
	left: 0px;
	top: 3px;
}

.about-us-link a:first-child{
	margin-left: 0;
}



#aboutUs {
    padding: 60px 0;
    background: #fff;
}

/* Contact
---------------------------------*/
.page_section.contact {
    padding: 40px 0 20px;
}
 
.contact_section {
    margin: 0 0 20px 0;
}

.contact_section h2 {
    font-size: 40px;
    color: #ffffff;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}


.help-block {
    background-color: bisque;
    border-radius: 5px;
}

.contact_wrapper {
    background: var(--highlight);
}


.form {
    margin: 0 66px 0 30px;
}

.input-text {
    padding: 15px 16px;
    border: 1px solid #ccc;
    width: 100%;
    height: 50px;
    display: block;
    border-radius: 4px;
    font-size: 15px;
    color: #aaa;
    margin: 0 0 15px 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.input-text:focus {
    border: 1px solid #fff;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area {
    height: 230px;
    resize: none;
    overflow: auto;
    
}

.input-btn {    
    width: 175px;
    height: 50px;
    letter-spacing: 0px;
    background: var(--highlight);
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: 0.25vw solid #fff;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.input-btn:hover {
    background: #fff;
    color: var(--black)
}


/* Animation Timers
---------------------------------*/
.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}

.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}


/* Portfolio */	
	
.container.portfolio_title {
    padding-bottom: 0px;
}


.section-title h2 {
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    letter-spacing: -1px;
    margin: 0 0 15px;
    text-align: center;
    text-transform: uppercase;
}

   Media Queries
--------------------------- */
@media (min-width: 768px) and (max-width: 1024px) {
    .col-lg-8 {
        width: 100%;
    }
    .row>* {
        padding-right: calc(var(--bs-gutter-x) * 2);
}}

@media (min-width: 768px) and (max-width: 900px) {
    .col-md-6, .col-md-5, .col-lg-8 {
        width: 100%;
    }

}
@media (min-width: 768px) and (max-width: 1200px) {
    
.logo {border: none;}
}


@media (max-width: 768px) {

.navStyle {
        width: 75vw; 
        text-align: center;
        }

.navbar-nav {
    flex-direction: row;
}

.aboutUs-container{
	background-image:none;
}
p{
font-size:14px;
}
.top_cont_outer { 
height: 100vh;
width: 100vw;
}
.hero_section {
position: relative;
padding-top: 10px;
}
.top_left_cont {
padding: 130px 0;
}
.top_left_cont h2 {
font-size: 2rem;
color: whitesmoke;
line-height: 2rem;
margin: 0 0 9px 0;
}
.inner_section {
padding: 10px 0 10px;
}
#aboutUs img{
margin-bottom:20px;
}
#aboutUs h3{
font-size:26px;
line-height:22px;
}
.skills_block h3 { 
font-size: 16px;
}
skills_block p {
font-size: 14px; 
margin: 0px;
margin-bottom: 20px;
}
.form {
margin: 0 18px;
}
.page_section.team{
padding: 40px 0;
}

.logo 
{border: none;
}

#experience {
padding: 40px 0;
}
.client_logos ul li {
display: inline;
margin: 0 25px;
padding: 11px 0;
display: inline-block;
}
.social_links li {
float: left; 
}



.contact_section{
margin:0;
}
h2, .contact_section h2 {
font-size: 30px;
}
.page_section.contact {
padding: 60px 0 50px;
} 
.navbar-inverse .navbar-toggle .icon-bar{
background:var(--highlight);
}
.navbar-inverse .navbar-toggle {
border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
background:none;
outline: none;
}
.navStyle ul li {
display: block;
}
.navbar {
border: 0px solid #fff;
min-height: 40px;
margin-bottom: 0px;
float: right;
}
.navStyle ul li {
display: block;
margin: 0px;
}
.navStyle ul li:last-child {
margin: 0px;
}
.navbar-inverse .navbar-nav > li > a {
color: #222; 
font-size:12px;
padding: 10px 11px;
}
.arrowProject {
    height: 50vh; 
}

}

@media (max-width: 480px){
    
    .navbar-nav {
        flex-direction: column;
    }
    

    #header_wrapper {
        padding-top: 0px;
        padding-bottom: 0px;
        
    }

    .top_left_cont {
        padding: 100px 0;
        }

.navStyle {
float: left;
width: 90vw;
height: fit-content; 
text-align: center;
}
.navbar {
border: 0px solid #fff;
min-height: 40px;
margin-bottom: 0px;
float: right;
width: fit-content;
}

.team_area {
width: 99%;
}
.read_more2{
display:none;
}

}

.rt-box {
float: left;
width: 100%;
text-align: left;
margin-left: 10px;
}
img.img.img-circle.lt-box {
float: left;
width: 60px;
height: auto;
}